@media only screen and (max-width: 750px) {
    /* For mobile phones: */
    .navbar{
        justify-content: center;
        text-align: center;
    }
    .navbar a{
        font-size: 15px;
        padding: 7px;
    }
    .column.side,.column.middle {
        width: 85%;
    }
    .column {
        float: left;
        padding: 25px;
    }
    .span{
        font-size: 1.5em;
    }
    .con2,.con3,.con4 {
        padding: 30px;
        height: auto;
        border-radius: 35px;
        background-color: #ffffff;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        font-size: 0.8em;
    }
    ::-webkit-scrollbar {
        width: 100px;
    }
    td{
        width: 68%;
        text-align: center;
        font-size: 1.5em;
    }
    .con3 img{
        width: 30px;
        height: 30px;
    }
    .con3{
        font-size: 0.6em;
    }
    .con3 h1{
        font-size: 1.6em;
    }
    /* .image img{
        width: 200px;
        height: 350px;
        position: relative;
        right: -3vh;
        top: 3vh;
    } */
    .footer{
        height: auto;
    }
    .footer p{
        font-size: 1.8em;
    }
    .footer table{
        width: 300px;
        position: relative;   
        margin-left: 4vh;
        /* border: 2px solid black; */
    }
    .footer td.pic{
        width: 20px;
    }
    .footer td.link{
        width: 75px;
    }
    table .link{
        padding: 0px;
        font-size: 0.5em;
        text-align: center;
        width: 200px;
    }
    .footer img{
        width: 20px;
        height: 20px;
    }
    .dis{
        height: 70px;
    }
    .dis p{
        font-size: 1em;
    }
}